    * {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header  {
    padding: 20px 35px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    background-image: url("businessman-image.jpg");
}

header h1 {
padding: 35px;
}

header nav ul li {
    float: right;
    display: inline;
    padding: 35px 40px;
    flex-wrap: wrap;
    flex: auto;
}

.hero {
    border: 2px solid black;
    margin-left:  50px;
    margin-right: 50px;
}

.aside {
    display: block;
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    }

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

    @media screen {
        max-width: 980px
       }