    * {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-color:darkcyan;
}

@media screen and (max-width: 980px) {
    article {
        padding: 1rem 3rem;
        }
    }

header  {
    padding: 20px 35px; 
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    display:flex;
    justify-content: space-evenly;
    width: 100%;
} 

header h1 {
    justify-content: left;
    padding: 3px;
    align-content: center;
}


/* header h1 {
padding: 35px; */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

header nav ul {
    align-self: center;
    display: inline-flex;
    margin-top: 1%;
    padding-top: 1%;
    justify-content: space-between;
    list-style: none;
}


header nav ul li {
    padding: 3%;
    margin: 1%;
    justify-content: space-around;
}

.hero {
    border: 2px solid black;
    padding-left: 0px;
    overflow: hidden;
        /*margin-left:  50px;
    margin-right: 50px;*/
    /*width: 50%;*/
    /*justify-content: center; */

}

.row {
    display: flex;
    justify-content: space-between;
    min-height: 40;
    margin: 0%;
    padding: 5%;
}

.sidenav {
width: 50%;
align-self: center;
}
.sidenav h2{
    padding: 5%;
    font-size: 35px;
    color:black;
    margin-right: 2px;
    border-right: 2px;
    background: none);
}

#work {
    align-self: center;
}

.content ul li {
    display: inline-flex;
    flex-wrap: wrap;
  /*  justify-content: space-evenly; */
    
    margin-right: 5px;
    width: 80;
    letter-spacing: 2px;
    color: black;
    font-size: 25px;
    text-decoration: solid;
   }

.aside {
    display: inline;
    flex-wrap: wrap;
    justify-content: space-between;
}


/*
.content {
display: flexbox;
justify-content: space-between;
width: 100%;
} */

/*
.content ul li{
    display: flexbox;
    justify-content: space-around;
    width: 100%;
    } 
    */

.contact-links {
font-size: 30px;
display: flex;
justify-content: space-evenly;
list-style: none;
text-align: left;
}


#projectimages {
position: relative;
display:flex;
flex-wrap: wrap;
justify-content: space-between;

}

.projects {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
 }

    .projects h4 {
position: absolute;
bottom: 30px;
background-color: aquamarine;
}
 

article nav ul li {
    position: relative;
    display: flexbox;
    flex-wrap: wrap;
    padding: 3%;
    margin: 1%;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    }

/*
.content {
    flex-wrap: wrap;
    justify-content: space-around;
}
*/