    * {
    margin: 0;
    border: 0;
    color: black;
    box-sizing: border-box;
    text-decoration: none;
    }


.titleText {
    text-align: left;
    color: darkblue;
 
}

 

body {

    background:rgb(242, 226, 217);
}

img {

 
    
  }

 a.nav:hover, a.nav.ex1:active {
     color: red;
    }

.linkText:hover, .LinkText:active {
        color: red;
       }


       a.linkText:hover, a.linkText:active {color: red;}


.container {
    position: relative;
    width: 50%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ba8200;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.center {

    justify-content: center;
    
}

@media screen and (max-width: 980px) {
    article {
        padding: 1rem 3rem;
        }
    }

header  {
    padding: 20px 35px; 
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    display:flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: #eec174;
} 

header h1 {
    justify-content: left;
    padding: 3px;
    align-content: center;
}

.projects {

    a:hover {
        opacity: .75;
      }
}
/* header h1 {
padding: 35px; */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

header nav ul {
    align-self: center;
    display: inline-flex;
    margin-top: 1%;
    padding-top: 1%;
    justify-content: space-between;
    list-style: none;
}


header nav ul li {
    padding: 3%;
    margin: 1%;
    justify-content: space-around;
}

.hero {
    border: 2px solid black;
    padding-left: 0px;
    overflow: hidden;
        /*margin-left:  50px;
    margin-right: 50px;*/
    /*width: 50%;*/
    /*justify-content: center; */

}

#grad1 {
    height: 200px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(rgb(237, 175, 114), rgb(242, 226, 217));
}


.grad1 {
    height: 200px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(red, yellow);
}


.row {
    display: flex;
    justify-content: space-between;
    min-height: 40;
    margin: 0%;
    padding: 5%;
}

.sidenav {

align-self: right;
}
.sidenav h2{
    padding: 5%;
    font-size: 35px;
    color:black;
    margin-right: 2px;
    border-right: 2px;
    background: none;
    align-self: left;
}

#work {
    align-self: center;
}

.content ul li {
    display: inline-flex;
    flex-wrap: wrap;
  /*  justify-content: space-evenly; */
    
    margin-right: 5px;
    width: 80;
    letter-spacing: 2px;
    color: black;
    font-size: 25px;
    text-decoration: solid;
   }

.aside {
    display: inline;
    flex-wrap: wrap;
    justify-content: space-between;
}


/*
.content {
display: flexbox;
justify-content: space-between;
width: 100%;
} */

/*
.content ul li{
    display: flexbox;
    justify-content: space-around;
    width: 100%;
    } 
    */

.contact-links {
font-size: 30px;
display: flex;
justify-content: space-evenly;
list-style: none;
text-align: left;
}


#projectimages {
position: relative;
display:flex;
flex-wrap: wrap;
justify-content: space-between;

}

.projects {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
 }

    .projects h4 {
position: absolute;
bottom: 30px;
background-color: aquamarine;
}
 

article nav ul li {
    position: relative;
    display: flexbox;
    flex-wrap: wrap;
    padding: 3%;
    margin: 1%;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    }


.content {
    margin: auto;
       
        justify-content: center;
 
}
